* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  color: #fff;
  padding-top: 4%;
  padding-left: 10%;
}

/* Heading and icon */
.container h1 {
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}

h1 i {
  font-size: 48px;
  color: darkorchid;
  margin-right: 5px;
}

/* Button and icon */
.container button {
  display: flex;
  align-items: center;
  font-size: 20px;
  background: linear-gradient(#9418fd, #571094);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 35px;
  padding: 15px 20px;
  cursor: pointer;
  margin: 15px 0 20px;
}

button i {
  margin-right: 5px;
  font-size: 30px;
  color: white;
  margin-top: 2px;
  padding: 0;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
}